.navbar {
  height: 70px;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: var(--shadow);
}

.logo {
  color: var(--primary);
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a,
.btn-logout {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  padding: 0;
}

.nav-links a::after,
.btn-logout::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary);
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

.nav-links a:hover::after,
.btn-logout:hover::after {
  width: 100%;
}

.btn-logout {
  color: #02843c;
}

.btn-logout:hover {
  color:#02843c;
}