@import "./variables.css";
@import "./animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f7f6;
  color: var(--dark);
}
